<template>
  <nuxt-link :to="localePath(`/set/${id}`)" class="featured-card">
    <div class="h-full flex px-4 py-6">
      <div class="flex flex-col w-1/2 flex-shrink-0 py-4 xl:py-6 pl-4 xl:pl-6">
        <h2 class="text-xl xl:text-3xl leading-none text-white mb-3">
          {{ name }}
        </h2>
        <div class="text-sm xl:text-lg text-white mt-auto whitespace-no-wrap">
          {{ $t('featuredCard.watchAll') }}
        </div>
      </div>
      <SquareImage :src="thumbnail" class="w-1/2" />
    </div>
  </nuxt-link>
</template>

<script>
import SquareImage from '~/components/Image'

export default {
  components: {
    SquareImage,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
.featured-card {
  @apply inline-flex flex-col overflow-hidden bg-primary rounded-3xl shadow-md whitespace-normal mr-4;
  width: 320px;
  @screen lg {
    @apply w-full mr-0 transition duration-300 rounded-5xl;
    &:hover {
      box-shadow: 10px 10px 50px rgba(225, 0, 80, 0.5);
    }
  }
  @screen xl {
    @apply shadow-red;
  }
}
</style>
