<template>
  <MoreSection :title="name">
    <div v-if="!sets.length" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6">
      <SetCardPlaceholder
        v-for="index in limit"
        :key="`animated-placeholder-${index}`"
      />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
      <SetCard
        v-for="set in sets"
        :id="set.id"
        :key="set.id"
        :thumbnail="set.thumbnail"
        :name="set.name[$i18n.locale]"
      />
    </div>
  </MoreSection>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import MoreSection from '@/components/MoreSection'
import SetCard from '~/components/Cards/SetCard/SetCard'
import SetCardPlaceholder from '@/components/Cards/SetCard/SetCardPlaceholder'

export default {
  components: {
    SetCardPlaceholder,
    MoreSection,
    SetCard,
  },
  props: {
    category: {
      type: String,
      required: true,
    },
    limit: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      name: '',
    }
  },
  computed: {
    ...mapState(['sets']),
  },
  watch: {
    '$i18n.locale'() {
      this.bindCategory()
    },
  },
  mounted() {
    this.bindCategory()
  },
  methods: {
    ...mapActions(['bindByCategory']),
    async bindCategory() {
      const category = await this.$fire.firestore
        .collection('categories')
        .doc(this.category)
        .get()
      this.name = category.data().name[this.$i18n.locale]
      await this.bindByCategory({
        category: this.category,
        limit: this.limit,
      })
    },
  },
}
</script>
