<template>
  <MoreSection :title="$t('featuredSets.title')">
    <div
      v-if="!sets.length"
      class="lg:grid grid-cols-3 gap-6 whitespace-no-wrap overflow-x-auto lg:overflow-visible pl-4 pb-4 lg:p-0 -mx-4 lg:mx-0"
    >
      <FeaturedCardPlaceholder
        v-for="index in 3"
        :key="`featured-placeholder-${index}`"
      />
    </div>
    <div
      v-else
      class="lg:grid grid-cols-3 gap-6 whitespace-no-wrap overflow-x-auto lg:overflow-visible pl-4 pb-4 lg:p-0 -mx-4 lg:mx-0"
    >
      <FeaturedCard
        v-for="set in sets"
        :id="set.id"
        :key="set.id"
        :thumbnail="set.thumbnail"
        :name="set.name[$i18n.locale]"
      />
    </div>
  </MoreSection>
</template>

<script>
import { mapActions } from 'vuex'
import MoreSection from '@/components/MoreSection'
import FeaturedCard from '@/components/Cards/FeaturedCard/FeaturedCard'
import FeaturedCardPlaceholder from '@/components/Cards/FeaturedCard/FeaturedCardPlaceholder'

export default {
  components: {
    MoreSection,
    FeaturedCard,
    FeaturedCardPlaceholder,
  },
  props: {
    bindTo: {
      type: String,
      required: true,
    },
    promotion: {
      type: String,
      required: true,
    },
    limit: {
      type: Number,
      default: 3,
    },
  },
  async fetch({ store }) {
    if (process.browser) return
    try {
      await store.dispatch('bindByPromotion', {
        bindTo: 'featured',
        promotion: 'FEATURED',
        limit: '3',
      })
      store.dispatch('unbindByPromotion', 'featured')
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(e)
    }
  },
  computed: {
    sets() {
      return this.$store.state[this.bindTo]
    },
  },
  watch: {
    '$i18n.locale'() {
      this.bindPromotionSets()
    },
  },
  mounted() {
    this.bindPromotionSets()
  },
  methods: {
    ...mapActions(['bindByPromotion']),
    async bindPromotionSets() {
      await this.bindByPromotion({
        bindTo: this.bindTo,
        promotion: this.promotion,
        limit: this.limit,
      })
    },
  },
}
</script>
