<template>
  <MoreSection :title="title" :link="link">
    <div v-if="!sets.length" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6">
      <SetCardPlaceholder
        v-for="index in limit"
        :key="`promotion-placeholder-${index}`"
      />
    </div>
    <div v-else class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6">
      <SetCard
        v-for="set in sets"
        :id="set.id"
        :key="set.id"
        :thumbnail="set.thumbnail"
        :name="set.name[$i18n.locale]"
      />
    </div>
  </MoreSection>
</template>

<script>
import { mapActions } from 'vuex'
import MoreSection from '@/components/MoreSection'
import SetCard from '@/components/Cards/SetCard/SetCard'
import SetCardPlaceholder from '@/components/Cards/SetCard/SetCardPlaceholder'

export default {
  components: {
    MoreSection,
    SetCard,
    SetCardPlaceholder,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
    bindTo: {
      type: String,
      required: true,
    },
    promotion: {
      type: String,
      required: true,
    },
    limit: {
      type: Number,
      default: 6,
    },
  },
  computed: {
    sets() {
      return this.$store.state[this.bindTo]
    },
  },
  watch: {
    '$i18n.locale'() {
      this.bindPromotionSets()
    },
  },
  mounted() {
    this.bindPromotionSets()
  },
  methods: {
    ...mapActions(['bindByPromotion']),
    async bindPromotionSets() {
      await this.bindByPromotion({
        bindTo: this.bindTo,
        promotion: this.promotion,
        limit: this.limit,
      })
    },
  },
}
</script>
