<template>
  <MoreSection :title="keyword">
    <div
      v-if="sets.length"
      class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6"
    >
      <SetCard
        v-for="set in sets"
        :id="set.id"
        :key="set.id"
        :thumbnail="set.thumbnail"
        :name="set.name[$i18n.locale]"
      />
    </div>
    <h2 v-if="success" class="text-4xl">Ни одного набора не найдено</h2>
  </MoreSection>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import MoreSection from '@/components/MoreSection'
import SetCard from '~/components/Cards/SetCard/SetCard'

export default {
  components: {
    MoreSection,
    SetCard,
  },
  props: {
    keyword: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      success: false,
    }
  },
  computed: {
    ...mapState(['sets']),
  },
  mounted() {
    this.searchReq()
  },
  methods: {
    ...mapActions(['search']),
    async searchReq() {
      const res = await this.search(this.keyword)
      if (!res.hits.length) this.success = true
    },
  },
}
</script>
