<template>
  <div>
    <SocialHead :title="title" :description="description" :image="image" />
    <SetSection :id="id" collection="animated" />
    <PromotionSets
      class="pt-6 lg:pt-10 xl:pt-12"
      :title="$t('moreSets.trending')"
      link="/trending"
      bind-to="trending"
      promotion="TRENDING"
    />
    <FacebookComments :url="pageURL" class="pt-16 lg:pt-20" />
  </div>
</template>

<script>
import SocialHead from '@/components/SocialHead'
import SetSection from '@/components/Set/SetSection'
import PromotionSets from '@/components/Sets/PromotionSets'
import FacebookComments from '@/components/FacebookComments'

export default {
  name: 'Animated',
  components: {
    SocialHead,
    SetSection,
    PromotionSets,
    FacebookComments,
  },
  async asyncData({ app, params }) {
    const id = params.id
    const collection = 'animated'

    const set = await app.$fire.firestore.collection(collection).doc(id).get()
    const stickers = await app.$fire.firestore
      .collection(collection)
      .doc(id)
      .collection('stickers')
      .get()

    const stickerLocalizedName = set.data().name[app.i18n.locale]
    const numberOfStickers = stickers.docs.length

    const title = `${numberOfStickers} ${stickerLocalizedName} ${app.i18n.t(
      'setPageHead.title'
    )}`
    const description = `${app.i18n.t(
      'setPageHead.description[0]'
    )} ${stickerLocalizedName} ${app.i18n.t('setPageHead.description[1]')}`
    const image = set.data().publicImage

    return { title, description, image }
  },
  data() {
    return {
      id: this.$route.params.id,
      pageURL: this.$config.baseURL + '/animated' + this.$route.path,
    }
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description,
        },
      ],
      link: [
        {
          hid: 'canonical',
          rel: 'canonical',
          href: this.pageURL,
        },
      ],
    }
  },
}
</script>
