<template>
  <footer class="py-3 bg-primary">
    <div class="container flex items-center">
      <nuxt-link :to="localePath('/')" class="flex-shrink-0">
        <img
          src="//via.placeholder.com/64"
          class="w-10 h-10 md:w-16 md:h-16 rounded-full"
          alt=""
        />
      </nuxt-link>
      <nav class="hidden md:flex justify-center w-full">
        <ul>
          <li class="inline-block px-4">
            <nuxt-link
              :to="localePath('/whats-new')"
              class="text-base text-white hover:underline"
              >{{ $t('footer.nav.whatsNew') }}</nuxt-link
            >
          </li>
          <li class="inline-block px-4">
            <nuxt-link
              :to="localePath('/privacy-policy')"
              class="text-base text-white hover:underline"
              >{{ $t('footer.nav.privacyPolicy') }}</nuxt-link
            >
          </li>
          <li class="inline-block px-4">
            <a
              class="text-base text-white hover:underline"
              @click="popupAddStickerState(true)"
              >{{ $t('footer.nav.addSet') }}</a
            >
          </li>
          <li class="inline-block px-4">
            <a href="" class="text-base text-white hover:underline">{{
              $t('footer.nav.application')
            }}</a>
          </li>
          <li class="inline-block px-4">
            <nuxt-link
              :to="localePath('/blog')"
              class="text-base text-white hover:underline"
              >{{ $t('footer.nav.blog') }}</nuxt-link
            >
          </li>
          <li class="inline-block px-4">
            <a href="" class="text-base text-white hover:underline">{{
              $t('footer.nav.report')
            }}</a>
          </li>
          <li class="inline-block px-4">
            <nuxt-link
              :to="localePath('/terms-and-conditions')"
              class="text-base text-white hover:underline"
              >{{ $t('footer.nav.termsAndConditions') }}</nuxt-link
            >
          </li>
        </ul>
      </nav>
      <div class="ml-auto md:hidden">
        <button
          v-for="item in availableLocales"
          v-show="item.code !== $i18n.locale"
          :key="item.locale"
          class="text-xl text-white focus:outline-none uppercase"
          @click="setLocale(item.code)"
        >
          {{ item.name }}
        </button>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  methods: {
    ...mapMutations(['popupAddStickerState']),
    setLocale(locale) {
      this.$i18n.setLocale(locale)
    },
  },
}
</script>
