<template>
  <div class="fixed top-0 left-0 w-full h-full flex">
    <div
      class="absolute top-0 left-0 z-0 w-full h-full bg-black opacity-75"
      @click="hideMenu"
    ></div>
    <div
      class="fixed top-0 right-0 w-9/12 sm:w-5/12 h-full bg-primary flex flex-col"
    >
      <div class="flex items-center border-b py-3 px-4">
        <div class="text-xl text-white mr-auto">Menu</div>
        <button class="flex w-10 h-10 focus:outline-none" @click="hideMenu">
          <svg-icon
            name="close"
            class="m-auto w-6 h-6 fill-current text-white"
          />
        </button>
      </div>
      <div class="flex-auto relative">
        <div class="absolute top-0 left-0 w-full h-full overflow-y-auto">
          <ul class="p-6">
            <li class="py-3">
              <a href="" class="text-lg text-white">Application</a>
            </li>
            <li class="py-3">
              <a class="text-lg text-white" @click="showAddStickerPopup"
                >Добавить набор</a
              >
            </li>
            <li class="py-3">
              <nuxt-link
                :to="localePath('/whats-new')"
                class="text-lg text-white"
                @click.native="hideMenu"
                >What’s new</nuxt-link
              >
            </li>
            <li class="py-3">
              <nuxt-link
                :to="localePath('/privacy-policy')"
                class="text-lg text-white"
                @click.native="hideMenu"
                >Privacy Policy
              </nuxt-link>
            </li>
            <li class="py-3">
              <a href="" class="text-lg text-white">Приложение iOS / Android</a>
            </li>
            <li class="py-3">
              <nuxt-link
                :to="localePath('/blog')"
                class="text-lg text-white"
                @click.native="hideMenu"
                >Блог</nuxt-link
              >
            </li>
            <li class="py-3">
              <nuxt-link
                :to="localePath('/')"
                class="text-lg text-white"
                @click.native="hideMenu"
                >Report</nuxt-link
              >
            </li>
            <li class="py-3">
              <nuxt-link
                :to="localePath('/terms-and-conditions')"
                class="text-lg text-white"
                @click.native="hideMenu"
                >Terms and Conditions
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations(['popupAddStickerState']),
    showAddStickerPopup() {
      this.$emit('hide')
      this.popupAddStickerState(true)
    },
    hideMenu() {
      this.$emit('hide')
    },
  },
}
</script>
