<template>
  <div class="container">
    <h2 class="mb-8">Privacy Policy</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ex neque
      nesciunt nisi quasi quisquam, tempore. Animi aperiam asperiores, debitis
      distinctio, eius ipsum laborum, maxime necessitatibus nisi quia
      repellendus sapiente velit veritatis? Aliquid distinctio eaque enim
      expedita impedit inventore iste itaque laborum maxime nihil, quae ut
      voluptas, voluptatem. Adipisci distinctio earum explicabo hic ipsum
      molestiae nam, nulla obcaecati pariatur quisquam reprehenderit vitae!
      Asperiores assumenda culpa cumque est facere impedit, iste laborum magnam
      nostrum omnis perspiciatis placeat provident quasi quibusdam quis quos
      ratione repudiandae, similique suscipit tempore, ullam vitae voluptas? Cum
      dolores dolorum laudantium molestiae optio, porro quo rerum veritatis
      vitae voluptatum! Ab consequuntur cupiditate delectus dolor eum facilis in
      ipsam itaque libero nisi placeat quasi, sit tempora temporibus voluptates!
      Aspernatur at deleniti distinctio dolores ea error eum inventore magni
      maxime minus modi molestias mollitia nemo numquam officia possimus ratione
      repellendus reprehenderit repudiandae sunt, totam ullam unde vero. Amet
      debitis dolor fugiat illum incidunt iste, modi nisi nulla pariatur
      praesentium quod, quos sed temporibus? Ad adipisci cum dicta dolorem
      dolores ea eos error et, ex harum inventore ipsam, laboriosam libero modi
      molestias nam nemo nisi nulla officiis perspiciatis porro possimus quaerat
      qui quo quod reiciendis soluta suscipit tenetur ullam unde voluptas!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ex neque
      nesciunt nisi quasi quisquam, tempore. Animi aperiam asperiores, debitis
      distinctio, eius ipsum laborum, maxime necessitatibus nisi quia
      repellendus sapiente velit veritatis? Aliquid distinctio eaque enim
      expedita impedit inventore iste itaque laborum maxime nihil, quae ut
      voluptas, voluptatem. Adipisci distinctio earum explicabo hic ipsum
      molestiae nam, nulla obcaecati pariatur quisquam reprehenderit vitae!
      Asperiores assumenda culpa cumque est facere impedit, iste laborum magnam
      nostrum omnis perspiciatis placeat provident quasi quibusdam quis quos
      ratione repudiandae, similique suscipit tempore, ullam vitae voluptas? Cum
      dolores dolorum laudantium molestiae optio, porro quo rerum veritatis
      vitae voluptatum! Ab consequuntur cupiditate delectus dolor eum facilis in
      ipsam itaque libero nisi placeat quasi, sit tempora temporibus voluptates!
      Aspernatur at deleniti distinctio dolores ea error eum inventore magni
      maxime minus modi molestias mollitia nemo numquam officia possimus ratione
      repellendus reprehenderit repudiandae sunt, totam ullam unde vero. Amet
      debitis dolor fugiat illum incidunt iste, modi nisi nulla pariatur
      praesentium quod, quos sed temporibus? Ad adipisci cum dicta dolorem
      dolores ea eos error et, ex harum inventore ipsam, laboriosam libero modi
      molestias nam nemo nisi nulla officiis perspiciatis porro possimus quaerat
      qui quo quod reiciendis soluta suscipit tenetur ullam unde voluptas!
    </p>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Privacy Policy',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'description',
      },
    ],
  },
}
</script>
