<template>
  <MoreSection :title="$t('moreCategories.title')" :link="link">
    <div
      v-if="!categories.length"
      class="lg:flex flex-wrap justify-center whitespace-no-wrap lg:whitespace-normal overflow-x-auto lg:overflow-visible pl-4 pb-4 lg:p-0 lg:-my-3 -mx-4 lg:-mx-2"
    >
      <div
        v-for="index in 15"
        :key="`category-placeholder-${index}`"
        class="inline-block flex-shrink-0 mr-4 lg:my-2 lg:mx-2"
        style="width:140px;height:46px;"
      >
        <content-loader
          :width="140"
          :height="46"
          :speed="2"
          primaryColor="#f3f3f3"
          secondaryColor="#ecebeb"
        >
          <rect x="0" y="0" rx="23" ry="23" width="140" height="46" />
        </content-loader>
      </div>
    </div>
    <div
      v-else
      class="lg:flex flex-wrap justify-center whitespace-no-wrap lg:whitespace-normal overflow-x-auto lg:overflow-visible pl-4 pb-4 lg:p-0 lg:-my-3 -mx-4 lg:-mx-2"
    >
      <nuxt-link
        v-for="category in categories"
        :key="category.id"
        :to="localePath(`/categories/${category.id}`)"
        class="button mr-4 lg:my-2 lg:mx-2"
        :style="{
          background: category.color,
          borderColor: category.color,
        }"
      >
        {{ category.name[$i18n.locale] }}
      </nuxt-link>
    </div>
  </MoreSection>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import MoreSection from '@/components/MoreSection'
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    MoreSection,
    ContentLoader,
  },
  props: {
    link: {
      type: String,
      default: '',
    },
  },
  computed: {
    ...mapState(['categories']),
  },
  mounted() {
    this.bindCategories()
  },
  methods: {
    ...mapActions(['bindCategories']),
  },
}
</script>
