<template>
  <div class="container">
    <client-only class="w-full">
      <div
        class="fb-comments w-full"
        :data-href="url"
        data-numposts="5"
        data-width="100%"
      ></div>
      <div id="fb-root"></div>
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      facebookSdkReady: false,
    }
  },
  mounted() {
    this.installFacebookSdkScript(document, 'script', 'facebook-jssdk')
    window.fbAsyncInit = () => {
      FB.init({
        appId: '196789192201887',
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v9.0',
      })
      this.facebookSdkReady = true
    }
  },
  updated() {
    if (this.facebookSdkReady) window.FB.XFBML.parse()
  },
  methods: {
    installFacebookSdkScript(d, s, id) {
      const lang = this.$i18n.localeProperties.iso.replace(/-/g, '_')
      if (d.getElementById(id)) {
        this.facebookSdkReady = true
        return
      }
      const fjs = d.getElementsByTagName(s)[0]
      const js = d.createElement(s)
      js.id = id
      js.src = `https://connect.facebook.net/${lang}/sdk.js`
      fjs.parentNode.insertBefore(js, fjs)
    },
  },
}
</script>
