<template>
  <div class="image">
    <client-only>
      <transition name="fade">
        <img
          v-if="imageSrc"
          :src="imageSrc"
          class="absolute top-0 left-0 w-full h-full object-contain"
          alt=""
        />
      </transition>
      <vue-loaders
        v-if="loading"
        class="spinner"
        name="ball-scale"
        color="#E10050"
      ></vue-loaders>
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      imageSrc: null,
      loading: true,
    }
  },
  mounted() {
    this.setImagesSrc()
  },
  methods: {
    async setImagesSrc() {
      this.imageSrc = await this.$fire.storage
        .refFromURL(this.src)
        .getDownloadURL()
      this.loading = false
    },
  },
}
</script>

<style>
.image {
  position: relative;
  width: 100%;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
