<template>
  <section>
    <div class="container">
      <div class="flex items-center mb-6 lg:mb-8">
        <h2 class="mr-auto">
          {{ title }}
        </h2>
        <nuxt-link
          v-if="link"
          :to="localePath(link)"
          class="flex items-center text-base lg:text-lg text-black hover:text-primary"
        >
          {{ $t('moreLink') }}
          <svg-icon
            name="arrow"
            class="hidden sm:block ml-4 w-8 h-2 fill-current"
          />
        </nuxt-link>
      </div>
      <slot></slot>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
  },
}
</script>
