<template>
  <label
    class="checkbox"
    :class="{ 'checkbox--active': radioButtonValue === option }"
  >
    <input
      v-model="radioButtonValue"
      type="radio"
      :name="name"
      :value="option"
      class="checkbox__input"
    />
    <span class="checkbox__mark"></span>
    <span v-if="label" class="checkbox__label">{{ label }}</span>
  </label>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    option: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
  },
  computed: {
    radioButtonValue: {
      get() {
        return this.value
      },
      set() {
        this.$emit('change', this.option)
      },
    },
  },
}
</script>

<style lang="scss">
.checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &__input {
    display: none;
  }
  &__mark {
    display: flex;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #e10050;
    border-radius: 50%;
    &:before {
      content: '';
      opacity: 0;
      display: block;
      margin: auto;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #e10050;
      transition: opacity 0.3s;
    }
  }
  &__label {
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
    color: #c4c4c4;
    transition: color 0.3s;
  }
  &--active {
    .checkbox__mark:before {
      opacity: 1;
    }
    .checkbox__label {
      color: #000000;
    }
  }
}
</style>
