<template>
  <div class="switcher" :class="{ 'switcher--active': value }" @click="toggle">
    <div class="switcher__slider"></div>
  </div>
</template>

<script>
export default {
  props: {
    value: Boolean,
  },
  methods: {
    toggle() {
      this.$emit('toggle', !this.value)
    },
  },
}
</script>

<style lang="scss">
.switcher {
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: #c4c4c4;
  transition: background 0.3s;
  &__input {
    display: none;
  }
  &__slider {
    position: absolute;
    top: 50%;
    left: -0.375rem;
    transform: translate(0, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0.563rem rgba(0, 0, 0, 0.25);
    transition: left 0.3s;
  }
  &--active {
    background: #48bb78;
    .switcher__slider {
      left: calc(100% - 1.125rem);
    }
  }
}
</style>
