<template>
  <div class="overflow-hidden rounded-5xl shadow-card bg-white">
    <img class="w-full" :src="image" alt="" />
    <div class="p-8">
      <h3
        class="text-2xl md:text-3xl xl:text-4xl leading-none mb-10 blog-title"
      >
        {{ title }}
      </h3>
      <div class="flex">
        <div class="flex items-center text-sm text-gray-500 mr-6">
          <svg-icon name="calendar" class="w-4 h-4 mr-2" />
          {{ date }}
        </div>
        <div class="flex items-center text-sm text-gray-500">
          <svg-icon name="eye" class="w-4 h-4 mr-2" />
          {{ views }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    views: {
      type: String,
      required: true,
    },
  },
}
</script>

<style>
.blog-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
</style>
