<template>
  <div class="flex flex-col items-center">
    <SquareImage class="mb-4" :src="thumbnail" />
    <div class="text-3xl">{{ emoji }}</div>
  </div>
</template>

<script>
import SquareImage from '~/components/Image'

export default {
  components: {
    SquareImage,
  },
  props: {
    thumbnail: {
      type: String,
      required: true,
    },
    emoji: {
      type: String,
      default: '',
    },
  },
}
</script>
