<template>
  <div>
    <CategorySets :category="$route.params.id" :limit="102" />
    <FacebookComments :url="$config.baseURL" class="pt-16 lg:pt-20" />
  </div>
</template>

<script>
import CategorySets from '@/components/Sets/CategorySets'
import FacebookComments from '@/components/FacebookComments'

export default {
  name: 'Categories',
  components: {
    CategorySets,
    FacebookComments,
  },
  head: {
    title: 'Categories',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Categories page description',
      },
    ],
  },
}
</script>
