<template>
  <div>
    <PromotionSets
      :title="$t('moreSets.trending')"
      bind-to="sets"
      promotion="TRENDING"
      :limit="102"
    />
    <FacebookComments :url="$config.baseURL" class="pt-16 lg:pt-20" />
  </div>
</template>

<script>
import PromotionSets from '@/components/Sets/PromotionSets'
import FacebookComments from '@/components/FacebookComments'

export default {
  name: 'Trending',
  components: {
    PromotionSets,
    FacebookComments,
  },
  head: {
    title: 'Trending',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Trending page description',
      },
    ],
  },
}
</script>
