<template>
  <Search :keyword="$route.params.id" />
</template>

<script>
import Search from '@/components/Sets/SearchSets'

export default {
  components: {
    Search,
  },
  head: {
    title: 'Search',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Search page description',
      },
    ],
  },
}
</script>
