@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
  src: local('Futura PT Light'), local('FuturaPT-Light'),
    url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
  src: local('Futura PT Book'), local('FuturaPT-Book'),
    url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
    url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'),
    url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot');
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
    url('../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
