h1, h2, h3, h4, h5, h6 {
  @apply leading-tight text-black;
}

h1 {
  @apply text-4xl ;
  @screen xl {
    @apply text-6xl;
  }
}

h2 {
  @apply text-3xl;
  @screen xl {
    @apply text-5xl;
  }
}

h3 {
  @apply text-2xl;
  @screen xl {
    @apply text-4xl
  }
}

h4 {
  @apply text-xl;
  @screen xl {
    @apply text-3xl
  }
}

h5 {
  @apply text-lg;
  @screen xl {
    @apply text-2xl;
  }
}

h6 {
  @apply text-base;
  @screen xl {
    @apply  text-xl;
  }
}

p {
  @apply text-base text-black mb-5;
}
