@import 'utils/fonts';
@import 'utils/typography';

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

.button {
  @apply relative inline-flex text-base text-white leading-none py-3 px-8 rounded-full border-2 border-primary bg-primary transition duration-300;
  @screen lg {
    @apply text-lg;
    &:hover {
      @apply shadow-xl;
    }
  }
  &:focus {
    @apply outline-none;
  }
  &--bordered-primary {
    @apply border-2 border-primary text-primary bg-transparent;
    &:hover {
      @apply bg-primary text-white;
    }
  }
  &--disabled {
    @apply bg-gray-300 border-gray-300 pointer-events-none;
  }
}
