<template>
  <content-loader
    :width="188"
    :height="229"
    :speed="2"
    primaryColor="#f3f3f3"
    secondaryColor="#ecebeb"
  >
    <rect x="0" y="0" rx="24" ry="24" width="188" height="188" />
    <rect x="24" y="199" rx="5" ry="5" width="140" height="19" />
  </content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader,
  },
}
</script>
