<template>
  <nuxt-link :to="localePath(`/set/${animated ? 'animated/' + id : id}`)" class="set-card">
    <div class="set-card__image">
      <SquareImage :src="thumbnail" />
    </div>
    <div class="set-card__title">
      {{ name }}
    </div>
  </nuxt-link>
</template>

<script>
import SquareImage from '~/components/Image'

export default {
  components: {
    SquareImage,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      default: '',
    },
    animated: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss">
.set-card {
  &__image {
    @apply relative shadow-card rounded-3xl p-4 mb-4 transition duration-300;
  }
  &__title {
    @apply text-lg leading-tight text-center text-black transition duration-300;
    @screen lg {
      @apply text-xl;
    }
  }
  &:hover {
    .set-card__image {
      box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    }
    .set-card__title {
      @apply text-primary;
    }
  }
}
</style>
