<template>
  <div class="fixed top-0 left-0 w-full h-full flex px-4">
    <div
      class="absolute top-0 left-0 z-0 w-full h-full bg-black opacity-75"
      @click="hidePopup"
    ></div>
    <div
      class="relative z-10 m-auto max-w-2xl w-full bg-white py-16 px-6 sm:px-10 md:px-32"
    >
      <button class="absolute top-0 right-0 w-10 h-10 p-3" @click="hidePopup">
        <svg-icon class="w-4 h-4" name="close" />
      </button>
      <form v-if="!success" @submit.prevent="sendForm">
        <label class="inline-block text-base text-black px-4 mb-2">{{
          $t('addSetForm.label.name')
        }}</label>
        <input
          v-model="formData.author"
          class="w-full h-12 bg-gray-100 border rounded-full px-6 mb-6 focus:outline-none"
          type="text"
        />
        <label class="inline-block text-base text-black px-4 mb-2">{{
          $t('addSetForm.label.site')
        }}</label>
        <div class="relative mb-6">
          <input
            v-model="formData.website"
            class="w-full h-12 bg-gray-100 border rounded-full pl-6 pr-12 focus:outline-none"
            type="text"
          />
          <div class="absolute top-0 right-0 w-12 h-12 flex">
            <svg-icon name="link" class="m-auto w-4 h-4" />
          </div>
        </div>
        <label class="inline-block text-base text-black px-4 mb-2">{{
          $t('addSetForm.label.link')
        }}</label>
        <div class="relative mb-12">
          <input
            v-model="formData.url"
            class="w-full h-12 bg-gray-100 border rounded-full pl-6 pr-12 focus:outline-none"
            type="text"
            placeholder="t.me/yournerdjesty"
          />
          <div class="absolute top-0 right-0 w-12 h-12 flex">
            <svg-icon name="link" class="m-auto w-4 h-4" />
          </div>
        </div>
        <div class="flex justify-center">
          <button class="button bg-primary">
            {{ $t('addSetForm.button') }}
          </button>
        </div>
      </form>
      <h3 v-else class="text-4xl text-black text-center">Набор отправлен</h3>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      formData: {
        author: '',
        website: '',
        url: '',
      },
      success: false,
    }
  },
  methods: {
    ...mapActions(['addSet']),
    async sendForm() {
      const res = await this.addSet(this.formData)
      if (res.ok) this.success = true
    },
    hidePopup() {
      this.$emit('hide')
    },
  },
}
</script>
