<template>
  <div class="flex flex-col min-h-screen">
    <Header />
    <Nuxt class="flex-auto pt-10 lg:pt-12 pb-20 lg:pb-32" />
    <Footer />
    <Popup
      v-if="$store.state.popupAddSticker"
      @hide="popupAddStickerState(false)"
    />
    <SideMenu v-if="$store.state.sideMenu" @hide="sideMenuState(false)" />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import Footer from '@/components/Layout/Footer'
import SideMenu from '@/components/Layout/SideMenu'
import Popup from '@/components/Popups/Popup'
import Header from '@/components/Layout/Header/Header'

export default {
  components: {
    Header,
    Footer,
    Popup,
    SideMenu,
  },
  methods: {
    ...mapMutations(['popupAddStickerState', 'sideMenuState']),
  },
}
</script>
