<template>
  <PageSection title="Блог">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-12 gap-x-6">
      <BlogCard
        v-for="blog in blogs"
        :key="blog"
        :image="blog.image"
        :title="blog.title"
        :date="blog.date"
        :views="blog.views"
      />
    </div>
    <div class="flex justify-center mt-24">
      <button class="button bg-primary">Еще статьи</button>
    </div>
  </PageSection>
</template>

<script>
import PageSection from '@/components/MoreSection'
import BlogCard from '@/components/Cards/BlogCard'

export default {
  name: 'Blog',
  components: {
    PageSection,
    BlogCard,
  },
  data() {
    return {
      blogs: [
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
        {
          image: '//via.placeholder.com/456x300',
          title: 'Заголовок статьи в две сторки',
          date: '15 октября, 2020',
          views: '136',
        },
      ],
    }
  },
  head: {
    title: 'Blog',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Blog page description',
      },
    ],
  },
}
</script>
