<template>
  <div>
    <FeaturedSets
      class="pb-6 lg:pb-8"
      bind-to="featured"
      promotion="FEATURED"
    />
    <Categories class="py-6 lg:py-8" />
    <PromotionSets
      class="py-6 lg:py-8"
      :title="$t('moreSets.new')"
      link="/new"
      bind-to="new"
      promotion="NEW"
    />
    <AnimatedSets
      class="py-6 lg:py-8"
      :title="$t('moreSets.animated')"
      link="/animated"
    />
    <PromotionSets
      class="py-6 lg:py-8"
      :title="$t('moreSets.trending')"
      link="/trending"
      bind-to="trending"
      promotion="TRENDING"
    />
    <FacebookComments :url="$config.baseURL" class="pt-6 lg:pt-8" />
  </div>
</template>

<script>
import FeaturedSets from '@/components/Sets/FeaturedSets'
import Categories from '@/components/Categories'
import PromotionSets from '@/components/Sets/PromotionSets'
import AnimatedSets from '@/components/Sets/AnimatedSets'
import FacebookComments from '@/components/FacebookComments'

export default {
  name: 'Home',
  components: {
    FeaturedSets,
    Categories,
    PromotionSets,
    AnimatedSets,
    FacebookComments,
  },
  head: {
    title: 'Home',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Home page description',
      },
    ],
  },
}
</script>
