<template>
  <div class="flex flex-col lg:flex-row lg:items-center flex-shrink-0">
    <div class="text-lg text-black mb-4 lg:mb-0 lg:mr-8">{{ $t('addTo') }}</div>
    <div class="flex flex-col sm:flex-row">
      <a
        :href="`tg://addstickers?set=${id}`"
        target="_blank"
        class="relative flex justify-center text-lg text-white leading-none py-4 px-12 w-full sm:w-56 rounded-full bg-telegram mb-4 sm:mb-0 sm:mr-6"
      >
        <span class="absolute left-0 top-0 w-12 h-full flex">
          <svg-icon name="telegram" class="w-8 h-8 m-auto" />
        </span>
        Telegram
      </a>
      <a
        href="https://play.google.com/store/apps/details?id=com.smartfoxlabs.stickerland.wastickerapps.new"
        target="_blank"
        class="relative flex justify-center text-lg text-white leading-none py-4 px-12 w-full sm:w-56 rounded-full bg-whatsapp"
      >
        <span class="absolute left-0 top-0 w-12 h-full flex">
          <svg-icon name="whatsapp" class="w-6 h-6 m-auto" />
        </span>
        WhatsApp
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: '',
    },
  },
}
</script>
