<template>
  <section>
    <div v-if="$store.state.set" class="container">
      <div
        class="flex flex-col md:flex-row md:items-center mb-6 lg:mb-8 xl:mb-10"
      >
        <h2 class="text-4xl leading-tight lg:text-5xl mb-4 md:mr-8 md:mb-0">
          {{ name[$i18n.locale] }}
        </h2>
        <div class="flex items-center">
          <Switcher :value="premium" class="mr-3" @toggle="setPremiumPack" />
          <div class="text-lg text-gray-500">Premium</div>
        </div>
      </div>
      <SetPreview :id="id" :collection="collection" />
      <div class="flex flex-wrap justify-center -my-3 -mx-2">
        <div
          v-for="category in categories"
          :key="category.id"
          class="py-3 px-2"
        >
          <button
            class="button"
            :style="{
              background: category.color,
              borderColor: category.color,
            }"
            @click="addCategory(category)"
          >
            <span
              v-if="isSelected(category.id)"
              class="w-6 h-6 rounded-full bg-green-500 absolute top-0 right-0 flex border-2 border-white -mt-2 -mr-2"
            >
              <svg-icon
                name="check"
                class="w-3 h-3 fill-current text-white m-auto"
              />
            </span>
            {{ category.name[$i18n.locale] }}
          </button>
        </div>
      </div>
      <div class="flex flex-wrap mt-24">
        <div class="w-full md:w-2/4 flex md:justify-center mb-10 md:mb-0">
          <div>
            <div class="flex flex-wrap -mx-8 mb-8">
              <Checkbox
                class="mx-8"
                label="New"
                name="promotion"
                option="NEW"
                :value="promotion"
                @change="setPackPromotion"
              />
              <Checkbox
                class="mx-8"
                label="Trending"
                name="promotion"
                option="TRENDING"
                :value="promotion"
                @change="setPackPromotion"
              />
            </div>
            <div class="flex flex-wrap">
              <button
                v-if="!featuredAt"
                class="button bg-primary mr-6"
                @click="featuring(id)"
              >
                Featured it
              </button>
              <div v-else class="">{{ featuredAt.toDate() }}</div>
              <button
                class="button button--bordered-primary"
                @click="removePack(id)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/4 flex md:justify-center">
          <div>
            <div class="flex flex-wrap -mx-8 mb-8">
              <Checkbox
                class="mx-8"
                label="General"
                name="lang"
                option="general"
                :value="locale"
                @change="setPackLocale"
              />
              <Checkbox
                class="mx-8"
                label="EN"
                name="lang"
                option="en"
                :value="locale"
                @change="setPackLocale"
              />
              <Checkbox
                class="mx-8"
                label="RU"
                name="lang"
                option="ru"
                :value="locale"
                @change="setPackLocale"
              />
            </div>
            <button
              class="button bg-primary"
              :class="{ 'button--disabled': !selectedCategories.length }"
              @click="loadNext"
            >
              Load next
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="container">
      <h2>Set not found</h2>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import SetPreview from '@/components/Set/SetPreview'
import Switcher from '@/components/Switcher'
import Checkbox from '@/components/Radio'

export default {
  components: {
    SetPreview,
    Switcher,
    Checkbox,
  },
  props: {
    id: {
      type: String,
      default: '',
    },
    collection: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState({
      categories: (state) => state.categories,
      name: (state) => state.set.name,
      premium: (state) => state.set.premium,
      selectedCategories: (state) => state.set.categoriesDoc,
      promotion: (state) => state.set.promotion,
      locale: (state) => state.set.locale,
      featuredAt: (state) => state.set.featureAt,
    }),
  },
  mounted() {
    this.$fire.auth.signInAnonymously()
    this.bindSet({
      collection: this.collection,
      id: this.id,
    })
    this.bindCategories()
  },
  methods: {
    ...mapActions({
      bindSet: 'bindSet',
      bindCategories: 'bindCategories',
      setPremium: 'setPremium',
      setCategory: 'setCategory',
      setPromotion: 'setPromotion',
      setLocale: 'setLocale',
      scheduleFeaturing: 'scheduleFeaturing',
      removeStickerPack: 'removeStickerPack',
    }),

    setPremiumPack(value) {
      this.setPremium({
        collection: this.collection,
        value,
      })
    },

    setPackPromotion(value) {
      this.setPromotion({
        collection: this.collection,
        value,
      })
    },

    setPackLocale(value) {
      this.setLocale({
        collection: this.collection,
        value,
      })
    },

    isSelected(categoryId) {
      return this.selectedCategories.some((cat) => cat.id === categoryId)
    },

    addCategory(category) {
      let selected = [...this.selectedCategories]
      this.isSelected(category.id)
        ? (selected = selected.filter((item) => item.id !== category.id))
        : selected.push(category)
      this.setCategory({
        collection: this.collection,
        selected,
      })
    },

    featuring(id) {
      this.scheduleFeaturing({
        collection: this.collection,
        id,
      })
    },

    removePack(id) {
      this.removeStickerPack({
        collection: this.collection,
        id,
      })
      this.loadNext()
    },

    async loadNext() {
      const unsorted = await this.$fire.firestore
        .collection(this.collection)
        .where('categoriesDoc', '==', [])
        .orderBy('dataCreatedAt', 'asc')
        .limit(1)
        .get()
      const setId = unsorted.docs[0].id
      let route
      switch (this.collection) {
        case 'sets':
          route = '/admin'
          break
        case 'animated':
          route = '/admin/animated'
      }
      await this.$router.push(`${route}/${setId}`)
    },
  },
}
</script>
