<template>
  <div
    class="relative py-16 px-4 mb-16"
    :style="{
      backgroundImage: `url(${require('assets/images/pattern.png')})`,
    }"
  >
    <div
      class="max-w-4xl mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-6 gap-x-10 lg:gap-x-16"
    >
      <StickerCard
        v-for="(sticker, index) in stickers"
        :key="'sticker_' + index"
        :thumbnail="sticker.imageUrl"
        :emoji="sticker.emoji"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import StickerCard from '@/components/Cards/StickerCard'

export default {
  components: {
    StickerCard,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    collection: {
      type: String,
      required: true,
    },
  },
  async fetch({ store }) {
    if (process.browser) return
    try {
      await store.dispatch('bindByPromotion', {
        bindTo: 'featured',
        promotion: 'FEATURED',
        limit: '3',
      })
      store.dispatch('unbindByPromotion', 'featured')
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(e)
    }
  },
  computed: {
    ...mapState(['stickers']),
  },
  watch: {
    id() {
      this.bindStickerPack()
    },
  },
  mounted() {
    this.bindStickerPack()
  },
  methods: {
    ...mapActions(['bindStickers']),
    bindStickerPack() {
      this.bindStickers({
        collection: this.collection,
        id: this.id,
      })
    },
  },
}
</script>
