<template>
  <div>
    <div class="container">
      <div
        class="flex flex-col lg:flex-row lg:items-center justify-between mb-10"
      >
        <h1 class="text-4xl leading-tight lg:text-6xl mb-4 lg:mb-0">
          {{ set && set.name && set.name[$i18n.locale] }}
        </h1>
        <AddTo :id="id" />
      </div>
      <div
        v-if="set && set.author !== 'Unknown'"
        class="flex items-center mb-16"
      >
        <div class="text-lg mr-12">{{ set && set.author }}</div>
      </div>
      <SetPreview :id="id" :collection="collection" />
      <div class="flex justify-center">
        <AddTo :id="id" class="w-full sm:w-auto" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import SetPreview from '@/components/Set/SetPreview'
import AddTo from '@/components/Set/AddTo'

export default {
  components: {
    AddTo,
    SetPreview,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    collection: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState(['set']),
  },
  mounted() {
    this.bindSet({
      collection: this.collection,
      id: this.id,
    })
  },
  methods: {
    ...mapActions(['bindSet']),
  },
}
</script>
