<template>
  <div>
    <AnimatedSets :title="$t('moreSets.animated')" :limit="102" />
    <FacebookComments :url="$config.baseURL" class="pt-16 lg:pt-20" />
  </div>
</template>

<script>
import AnimatedSets from '@/components/Sets/AnimatedSets'
import FacebookComments from '@/components/FacebookComments'

export default {
  name: 'Animated',
  components: {
    AnimatedSets,
    FacebookComments,
  },
  head: {
    title: 'Animated',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Animated page description',
      },
    ],
  },
}
</script>
