<template>
  <header class="relative py-3 md:py-4 bg-primary">
    <div class="container">
      <div v-if="search" class="flex items-center">
        <SearchRow class="w-full" />
        <button
          class="flex w-10 h-10 focus:outline-none ml-4"
          @click="search = false"
        >
          <svg-icon
            name="close"
            class="m-auto w-6 h-6 fill-current text-white"
          />
        </button>
      </div>
      <div v-else class="flex items-center md:justify-between">
        <nuxt-link :to="localePath('/')" class="mr-auto md:mr-0">
          <img
            src="//via.placeholder.com/40"
            class="w-10 h-10 rounded-full"
            alt=""
          />
        </nuxt-link>
        <SearchRow class="hidden md:block" />
        <nav class="hidden md:block">
          <ul>
            <li class="inline-block px-6">
              <a
                href=""
                class="text-base text-white focus:outline-none hover:underline"
                >{{ $t('header.nav.application') }}</a
              >
            </li>
            <li class="inline-block px-6">
              <button
                type="button"
                class="text-base text-white focus:outline-none hover:underline"
                @click="popupAddStickerState(true)"
              >
                {{ $t('header.nav.addSet') }}
              </button>
            </li>
          </ul>
        </nav>
        <select-lang class="hidden md:block" />
        <button
          class="md:hidden flex w-10 h-10 mr-3 md:mr-0 focus:outline-none"
          @click="search = true"
        >
          <svg-icon
            name="loupe"
            class="m-auto w-5 h-5 fill-current text-white"
          />
        </button>
        <button
          class="md:hidden flex w-10 h-10 focus:outline-none"
          @click="sideMenuState(true)"
        >
          <svg-icon
            name="menu"
            class="m-auto w-6 h-6 fill-current text-white"
          />
        </button>
      </div>
    </div>
  </header>
</template>

<script>
import { mapMutations } from 'vuex'
import SearchRow from '@/components/Layout/Header/SearchRow'
import SelectLang from '@/components/Layout/Header/SelectLang'

export default {
  components: {
    SearchRow,
    SelectLang,
  },
  data() {
    return {
      search: false,
    }
  },
  methods: {
    ...mapMutations(['popupAddStickerState', 'sideMenuState']),
  },
}
</script>
