<template>
  <form
    class="relative block w-1/3"
    @submit.prevent="$router.push(`/search/${searchValue}`)"
  >
    <button class="w-12 h-10 absolute top-0 left-0 flex focus:outline-none">
      <svg-icon class="w-5 h-5 m-auto" name="search" />
    </button>
    <input
      v-model="searchValue"
      class="w-full h-10 pl-12 pr-6 rounded-full focus:outline-none"
      type="text"
      :placeholder="$t('header.search.placeholder')"
    />
  </form>
</template>

<script>
export default {
  data() {
    return {
      searchValue: '',
    }
  },
}
</script>
