<template>
  <div v-clickoutside="hide" class="relative">
    <button
      class="flex items-center text-lg text-white focus:outline-none uppercase"
      @click="isActive = !isActive"
    >
      <svg-icon
        class="w-3 h-3 mr-2 fill-current text-white"
        name="down-arrow"
      />
      {{ locale }}
    </button>
    <div
      v-show="isActive"
      class="origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white py-1 ring-1 ring-black ring-opacity-5"
    >
      <button
        v-for="lang in availableLocales"
        :key="lang.code"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none uppercase"
        @click="setLocale(lang.code)"
      >
        {{ lang.name }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  directives: {
    clickoutside: {
      bind(el, binding, vnode) {
        el.clickOutsideEvent = function (event) {
          if (!(el === event.target || el.contains(event.target))) {
            vnode.context[binding.expression](event)
          }
        }
        document.body.addEventListener('click', el.clickOutsideEvent)
        document.body.addEventListener('touchstart', el.clickOutsideEvent)
      },
      unbind(el) {
        document.body.removeEventListener('click', el.clickOutsideEvent)
        document.body.removeEventListener('touchstart', el.clickOutsideEvent)
      },
      stopProp(event) {
        event.stopPropagation()
      },
    },
  },
  data() {
    return {
      locale: this.$i18n.localeProperties.name,
      isActive: false,
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  watch: {
    '$i18n.locale'() {
      this.locale = this.$i18n.localeProperties.name
    },
  },
  methods: {
    hide() {
      this.isActive = false
    },
    setLocale(locale) {
      this.$i18n.setLocale(locale)
      this.hide()
    },
  },
}
</script>
