<template>
  <Admin :id="this.$route.params.id" collection="animated" />
</template>

<script>
import Admin from '@/components/Set/Admin'

export default {
  components: {
    Admin,
  },
  head() {
    return {
      title: 'Admin',
      meta: [
        {
          hid: 'robots',
          name: 'robots',
          content: 'noindex',
        },
      ],
    }
  },
}
</script>
